datasets/data_cifar/cifar*
__pycache__
*.pyc
*.tar.gz
.DS_Store
checkpoints/cifar_10/vgg_*.ckpt
checkpoints/cifar_10/narrow_vgg-*.ckpt
checkpoints/cifar_10/resnet_*.ckpt
checkpoints/cifar_10/narrow_resnet-*.ckpt
checkpoints/cifar_10/mobilenetv2_*.ckpt
checkpoints/cifar_10/narrow_mobilenetv2_*.ckpt