datasets/data_cifar/cifar*
datasets/data_vggface/train
datasets/data_vggface/test
datasets/data_vggface/Train_patch
datasets/data_vggface/val
__pycache__
*.pyc
*.tar.gz
.DS_Store

models/cifar_10/efficientnetv2.py
models/cifar_10/train_efficientnetv2.py
models/imagenet/densenet.py
models/imagenet/efficientnet.py

checkpoints/cifar_10/*
!checkpoints/cifar_10/narrow_vgg.ckpt
!checkpoints/cifar_10/narrow_resnet.ckpt
!checkpoints/cifar_10/narrow_mobilenetv2.ckpt
!checkpoints/cifar_10/narrow_wideresidual.ckpt

checkpoints/imagenet/*
!checkpoints/imagenet/narrow_vgg.ckpt
!checkpoints/imagenet/narrow_vgg_physical.ckpt
!checkpoints/imagenet/narrow_resnet.ckpt
!checkpoints/imagenet/narrow_mobilenetv2.ckpt

checkpoints/vggface/*
!checkpoints/vggface/narrow_vggface_physical.ckpt
!checkpoints/vggface/narrow_vggface.ckpt

defenses/*.npz
