datasets/data_cifar/cifar*
__pycache__
*.pyc
*.tar.gz
.DS_Store

models/cifar_10/efficientnetv2.py
models/cifar_10/train_efficientnetv2.py
models/imagenet/densenet.py
models/imagenet/efficientnet.py

checkpoints/cifar_10/vgg_*.ckpt
checkpoints/cifar_10/narrow_vgg_*.ckpt
checkpoints/cifar_10/resnet_*.ckpt
checkpoints/cifar_10/narrow_resnet_*.ckpt
checkpoints/cifar_10/mobilenetv2_*.ckpt
checkpoints/cifar_10/narrow_mobilenetv2_*.ckpt
checkpoints/cifar_10/wideresidual_*.ckpt
checkpoints/cifar_10/narrow_wideresidual_*.ckpt
checkpoints/cifar_10/effnet*.ckpt

checkpoints/imagenet/narrow_vgg_physical_*.ckpt
checkpoints/imagenet/narrow_resnet_*.ckpt
checkpoints/imagenet/narrow_mobilenetv2_*.ckpt